body {
    background-color: #333333;
    background-image: url('img/BeachSunsetB&W.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* This is for fluid layout */
main, footer {
    width: 90%;
    max-width: 1100px;
}

#software-aas {
    font-family: Arial;
    font-size: 1rem;
    color: #74b9ff;
}

p {
    color: #888888;
}

h1, h2, h3 {
    color: #ffffff;
}

img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

ol li {
    color: #888888;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffd700;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding: 20px 0;
    background-color: #000000;
    width: 100%;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
}

/* this is the first of the two media queries */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
        word-wrap: break-word;
    }

    nav ul {
        padding-left: 0;
    }

    li {
        word-wrap: break-word;
        font-size: 0.95rem;
    }
}